langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
rank-bm25
groq
pyyaml
datasets
ragas
gradio
langchain-google-vertexai
langchain-openai
langchain_google_genai
ipykernel
pdfplumber
docling
google-genai   
python-dotenv
deepeval
langchain_chroma
langchain_huggingface